<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>みさか みこと</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/html/statics/rss_html/css/main.css">
</head>
<style type="text/css">
/*.body{*/
    /*background-image:url("https://up.enterdesk.com/edpic/b5/f9/42/b5f942d4614149d0eecb3df9dcbec5c7.jpg");*/
    /*!*backgrount-size:cover:*!*/
    /*background-repeat:no-repeat ;*/
    /*background-size:100% 100%;*/
    /*background-attachment: fixed;*/
/*}*/
</style>
<body class="body">
<div align="center" >
    <input type="text"  class="search-input">
</div>
<!--<article class="markdown-body">-->
    <!--{% for article in articles %}-->
    <!--<b><a href="{{article.link}}">{{article.title}}</a></b><br/>-->
    <!--<i>{{article.published}}</i><br/>-->
    <!--<hr/>-->
    <!--{% endfor %}-->
<!--</article>-->
</body>
</html>
