<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>しらい くろこ</title>
    <link rel="stylesheet" href="/html/statics/rss_html/css/main.css">
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<!--    <script type="text/javascript" >-->
<!--&lt;!&ndash;        function search() {&ndash;&gt;-->
<!--&lt;!&ndash;            var a = document.getElementById("search").value;&ndash;&gt;-->
<!--&lt;!&ndash;            // window.location.href="https://www.baidu.com/s?ie=utf-8&f=8&rsv_bp=1&rsv_idx=1&tn=baidu&wd="+a+"&rsv_pq=92492ece000871bd&rsv_t=bea1%2BynOObtPWrrrnjIPS%2B%2FuKcJ8BlpPrvd5%2BSUwaeivBZy8I2lD3IS%2B2s4&rqlang=cn&rsv_enter=1&rsv_dl=tb&rsv_sug3=1&rsv_sug2=0&inputT=1469&rsv_sug4=1470";&ndash;&gt;-->
<!--&lt;!&ndash;            window.location.href = window.location.href+'/search?wd='+a&ndash;&gt;-->
<!--&lt;!&ndash;        }&ndash;&gt;-->
<!--    </script>-->
</head>
<body class="body">

<div style="z-index: 100;" name="">
    <div align="center" style="opacity: 1">
        <div style="position: relative;padding-top:10%">
            <div>
                <img src="/html/statics/rss_html/image/Q.png">
            </div>
            <form name="search" action="/html/search?" method="get">

                <input id="search"  type="search" class="search-input" placeholder="搜索" name="wd"  autofocus >

            </form>

        </div>

    </div>
</div>
</body>
</html>
<script type="text/javascript">
// $(document).ready(
//    function(){
//    	document.onkeydown = function(){
//     var oEvent = window.event;
//     if (oEvent.keyCode ==13) {
//         search()
//
//     }
//   }
// });
</script>